.App {
    height: 100vh;
    // Background
    background-repeat: repeat;
    background: rgb(252, 176, 69);
    background: -moz-linear-gradient(
        304deg,
        rgba(252, 176, 69, 1) 0%,
        rgba(232, 39, 39, 1) 50%,
        rgba(90, 69, 252, 1) 100%
    );
    background: -webkit-linear-gradient(
        304deg,
        rgba(252, 176, 69, 1) 0%,
        rgba(232, 39, 39, 1) 50%,
        rgba(90, 69, 252, 1) 100%
    );
    background: linear-gradient(304deg, rgba(252, 176, 69, 1) 0%, rgba(232, 39, 39, 1) 50%, rgba(90, 69, 252, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fcb045",endColorstr="#5a45fc",GradientType=1);

    .header {
        background-color: rgba(0, 0, 0, 0.404);
        color: white;
    }
    .image {
        overflow: hidden;
        .glasses-model {
            position: relative;
            height: 100%;
            img {
                width: 100%;
            }
        }
        .glasses {
            height: 100%;
            position: absolute;
            top: 25%;
            right: 8%;
            img {
                width: 65%;
                opacity: 0.8;
            }
        }
        .glasses-info {
            position: absolute;
            bottom: 0;
            right: 0;
            width: 100%;
            background-color: rgba(143, 0, 0, 0.5);
            h3 {
                font-size: 3em;
                color: rgb(255, 251, 0);
            }
            p {
                font-size: 1.3em;
                color: white;
            }
        }
    }
    .glasses-buttons {
        background-color: white;
        img {
            cursor: pointer;
        }
    }
}
