.App {
  height: 100vh;
  background-repeat: repeat;
  background: rgb(252, 176, 69);
  background: linear-gradient(304deg, rgb(252, 176, 69) 0%, rgb(232, 39, 39) 50%, rgb(90, 69, 252) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fcb045",endColorstr="#5a45fc",GradientType=1);
}
.App .header {
  background-color: rgba(0, 0, 0, 0.404);
  color: white;
}
.App .image {
  overflow: hidden;
}
.App .image .glasses-model {
  position: relative;
  height: 100%;
}
.App .image .glasses-model img {
  width: 100%;
}
.App .image .glasses {
  height: 100%;
  position: absolute;
  top: 25%;
  right: 8%;
}
.App .image .glasses img {
  width: 65%;
  opacity: 0.8;
}
.App .image .glasses-info {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  background-color: rgba(143, 0, 0, 0.5);
}
.App .image .glasses-info h3 {
  font-size: 3em;
  color: rgb(255, 251, 0);
}
.App .image .glasses-info p {
  font-size: 1.3em;
  color: white;
}
.App .glasses-buttons {
  background-color: white;
}
.App .glasses-buttons img {
  cursor: pointer;
}/*# sourceMappingURL=index.css.map */